@model IEnumerable<PuliChat.Entities.Models.Channel>

@{
    ViewData["Title"] = "ChannelList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class ="main main-login">
    <table class="channelIndex">
        <thead>
            <tr>
                <th>
                    Channel name
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
