@page
@model EmailModel
@{
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="profile-settings">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating input-group">
                    <h6 style="font-weight: bold; margin-bottom: 4px;">Email</h6>
                    <input asp-for="Email" class="input" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label" hidden></label>
                </div>
            }
            else
            {
                <div>
                    <h6 style="font-weight: bold; margin-bottom: 4px;">Email</h6>
                    <input asp-for="Email" class="input" disabled />
                    <label asp-for="Email" class="form-label" hidden></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link" style="color: white;">Send verification email</button>
                </div>
            }
            <div>
                <h6 style="font-weight: bold; margin-bottom: 4px;">New email</h6>
                <input asp-for="Input.NewEmail" class="input" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="form-label" hidden></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="input button">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
