@model PuliChat.Entities.Models.Server

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main main-login">
    <section>
        <div style="text-align: center; margin-top: 5%;">
            <h2 style="color: white;">Create server!</h2>
            <h3>Next send invite link to your friends!</h3>
        </div>
        <hr />
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h5 style="font-weight: bold;">Server image</h5>
                <label class="control-label" hidden></label>
                <input type="file" id="image" name="image" multiple="multiple" class="form-control" />
            </div>
            <div >
                <h5 style="font-weight: bold;">Server name</h5>
                <label asp-for="Name" class="control-label" hidden></label>
                <input asp-for="Name" class="input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div >
                <input type="submit" value="Create" class="input button" />
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
