body {
    background-image: url("../puli_green.jpg");
    background-size: cover;
    background-position: bottom;
}

#home {
    color: white;
    text-shadow: 2px 2px #454B1B;
}

/* BUTTON */
.buttonCSS {
    background: rgba(2, 48, 32, 1);
}

.button {
    background: rgba(2, 48, 32, 1);
    border: 0;
}

.main-account a:hover {
    color: rgba(2, 48, 32, 1);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background: rgba(2, 48, 32, 1);
}

/* MAIN DIV SERVERINDEX */
.main {
    background: linear-gradient(#023020, #2E8B57);
}

.main:before{
    background: linear-gradient( 45deg, #097969, #023020, #5F8575, #4F7942, #228B22, #355E3B, #097969, #4F7942, #023020 );
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 30s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(2, 48, 32, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 48, 32, 1);
}

.container_text:hover {
    background: rgba(2, 48, 32, 0.7);
}

#ServerChannels {
    background: rgba(2, 48, 32, 0);
}

#ChannelMessages {
    background: rgba(2, 48, 32, 0.3);
}

#ChannelTitle {
    background: rgba(2, 48, 32, 0.3);
}

#ServerUsers {
    background: rgba(2, 48, 32, 0);
}

.dropdown-content {
    background: rgba(2, 48, 32, 1);
}

#UserServerPartial {
    background: rgba(2, 48, 32, 0.7);
}
