body {
    background-image: url("../puli_purple.jpg");
    background-size: cover;
    background-position: bottom;
}

#home {
    text-shadow: 2px 2px #702963;
}

/* BUTTON */
.buttonCSS {
    background: rgba(48, 25, 52, 1);
}

.button {
    background: rgba(48, 25, 52, 1);
    border: 0;
}

.main-account a:hover {
    color: rgba(48, 25, 52, 1);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background: rgba(48, 25, 52, 1);
}

/* MAIN DIV SERVERINDEX */
.main {
    background: linear-gradient(#301934, #702963);
}

.main:before{
    background: linear-gradient( 45deg, #9F2B68, #BF40BF, #702963, #AA336A, #301934, #702963, #9F2B68, #BF40BF, #AA336A );
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 30s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(48, 25, 52, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(48, 25, 52, 1);
}

.container_text:hover {
    background: rgba(48, 25, 52, 0.7);
}

#ServerChannels {
    background: rgba(48, 25, 52, 0);
}

#ChannelMessages {
    background: rgba(48, 25, 52, 0.3);
}

#ChannelTitle {
    background: rgba(48, 25, 52, 0.3);
}

#ServerUsers {
    background: rgba(48, 25, 52, 0);
}

.dropdown-content {
  background: rgba(48, 25, 52, 1);
}

#UserServerPartial {
    background: rgba(48, 25, 52, 0.7);
}