html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: lightgray;
    font-size: 14px;
}

header, footer {
    color: #05386B;
}

a, a:hover, a:link {
    text-decoration: none;
    color: darkgray;
}

/* LAYOUT BUTTONS */

.btn-purple {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: purple;
    margin-left: 10px;
}

.btn-green {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: green;
    margin-left: 10px;
}

.btn-blue {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: blue;
    margin-left: 10px;
}

/* LAYOUT SERVER PICTURE */
.layout-server-picture {
    margin-top: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px 25px;
    object-fit: cover;
}

.layout-server-picture:hover {
    animation: server-picture-hover 1s normal;
    animation-fill-mode: forwards; 
}

@keyframes server-picture-hover {
    0% {
        border-radius: 25px 25px;
    }

    100% {
        border-radius: 10px 10px;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* BUTTON */
.buttonCSS {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}

/* MAIN DIV SERVERINDEX */
.main {
    position: absolute;
    bottom: 60px;
    top: 70px;
    left: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 10px;
    min-width: 500px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* MAIN LOGIN */
.main-login {
    margin: 0 30%;
    color: darkgray;
    text-align: center;
}

.main-login section {
    display: inline-block;
    text-align: left;
}

.input {
    height: 40px;
    width: 100%;
    border-radius: 5px 5px;
    border: 2px solid darkgray;
    background-color: white;
    text-overflow: clip;
    margin-bottom: 10px;
}

.button {
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* MAIN MANAGE ACCOUNT */
.main-account {
    overflow-y: auto;
    overflow-x:hidden;
    margin-left: 20%;
    margin-right: 20%;
    color: darkgray;
    text-align: center;
}

.main-account a {
    color: white;
}

.profile-settings {
    width: 60%;
    overflow-y: auto;
    text-align: left;
    margin-left: 10%;
    display: inline-block;
}

/* CHAT ELEMENTS */
.container_text {
    float: left;
    width: 100%;
}

.container_text:hover .userDate {
    visibility: visible;
}

.userImage {
    margin-left: 1%;
    width: 4%;
    height: 100%;
    float: left;
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.userSender {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    width: 94%;
    height: 30%;
    float: right;
    margin-top: 14px;
    margin-bottom: 0px;
}

.userMess {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    width: 88%;
    height: 70%;
    float: right;
    padding-bottom: 0;
}

.userDate {
    font-size: 8px;
    margin-bottom: 5px;
    font-weight: normal;
    width: 6%;
    height: 30%;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
    visibility: hidden;
}

/* MAIN SERVERINDEX ELEMENTS */
#ServerTitle {
    color: white;
    float: left;
    width: 100%;
    padding-left: 10px;
    height: 8%;
    padding-top: 5px;
    font-weight: bold;
}

#ServerChannels {
    font-size: 16px;
    float: left;
    width: 15%;
    height: 75%;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    min-width: 200px;
}

.userInfo {
    height: 20%;
    width: 100%;
    float: left;
    padding-left: 10px;
}

.userInfo .description {
    width: 90%;
}

#channels {
    width: 100%;
    padding-top: 20px;
}

#channels td {
    padding-left: 20px;
    padding-top: 8px;
}

#ChannelMessages {
    float: left;
    width: 70%;
    height: 90%;
    border-radius: 10px;
}

#ChannelTitle {
    float: left;
    height: 5%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

#ChannelContent {
    float: left;
    width: auto;
    height: 85%;
    position: relative;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#FormMessage {
    float: left;
    width: 100%;
    height: 10%;
}

#ServerUsers {
    float: right;
    width: 15%;
    position: relative;
    height: 90%;
    padding-left: 20px;
    padding-top: 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    min-width: 200px;
}

#ServerUsersPartial {
    overflow-y: auto;
    overflow-wrap: break-word;
}

#ServerUsersPartial:hover {
    overflow-y: auto;
}

#text {
    border-radius: 10px 10px;
    border: 2px solid darkgray;
    background-color: darkgray;
}

.profile-picture {
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 100%;
    object-fit: cover;
}

.description {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: lightgray;
    font-weight: normal;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* COPY LINK TIP TEXT */
.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 110%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555; 
}

.buttonCSS:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* DROPDOWN CONTENT */
.dropdown-content .buttonCSS, .dropdown-content .buttonCSS:after{
    border-radius: 0;
    width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 13px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* USERSERVERPARTIAL */
#UserServerPartial {
    display: none;
    position: absolute;
    right: 16%;
    top: 5%;
    font-size: 15px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px 10px;
    z-index: 1;
    border: none;
    outline: none;
}

#UserServerPartial .profile-picture {
    height: 80px;
    width: 80px;
}

.channelIndex {
    width: 100%;
    font-size: 18px;
}

.channelIndex th {
    color: white;
    font-size: 24px;
}

.channelIndex td {
    margin: auto;
    height: 30px;
}

.channelIndex a {
    color: gray;
}