@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <div style="float: left; width: 35%; height: 100%; font-size: 32px;">
        <h1 style="font-size: 72px;">PuliChat!</h1>
        <p>
            It is a friendly communication platform for everyone. 
        </p>
        <p>
            Feel free, everyone here has freedom of speech.
        </p>
        Theme:
        <button value="Purple" class="btn-purple" />
        <button value="Green" class="btn-green" />
        <button value="Blue" class="btn-blue" />
    </div>
    <div style="float: left; width: 65%; height: 100%; margin: auto; text-align: center;">

    </div>
</div>